<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        <a href="/post/{{post.id}}" target="_blank">{{post.title}}</a>
      </div>
      <div class="meta">
        Created By: {{post.user.username}} on
        {{format_dates post.created_at}}
        |
        <a href="/post/{{post.id}}">{{post.comments.length}} comment(s)</a>
      </div>
    </article>
  </li>
  {{/each}}
</ol>
{{#if loggedIn}}
<form action="/dashboard">
<button type="submit" class="btn">New Post</button>
</form>
{{else}}
<h2>Login To Post!</h2>
{{/if}}